@import url(./variables.css);

h1, h2 {
    font-family: var(--titre-font);
    color: var(--bleuFonce)
}

h1 {
    font-size: var(--primarytitreSize);
}

h2 {
    font-size: var( --secondarytitreSize);
}

p {
    font-family: var(--paragraphe-font);
    font-size: var( --paragrapheSize);
    color: var(--bleuFonce);
}