@import url('./equipe.css');


#lieux, #contact{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#contact{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: solid blue; */
}

.containerCGU{
    width: 80%;
}

.titre{
    align-items: center;
    justify-content: center;
}

.ligne {
    width: 40%;
    border-top: 1px solid black;
}

h1{
    text-align: center;
    padding: 1% 2%;
}


p{
    color: black;
    line-height: 150%;
}


.paragraphe{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    width: 70%;
}
