
    /********** Footer******************/

#Footer{
    border: red solid;
    background-color: #1B7F7A;
    padding: 20px;
    color: #FFF;
    bottom: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}

#Footer a{
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
}
#Footer .container > div{
    width : 40%;
    height: auto;
}
#Footer .containerColumn{
    text-align: left;
}


#Footer .container  {
    display: flex;
    flex-direction: row;
    width : 100%;
}
#Footer .menufooter h2{
    text-align: center;
    margin-bottom: 30px;
}

#Footer .logofooter{
    text-align: right;
}
.container{
    display: flex;
    justify-content: center;
   
}
.containerColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

