.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.containerRow{
    display: flex;
    flex-direction: row;
}
.containerColumn{
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 800px) {

}
