/* #citation {
    /* width: 100vw;
    margin: 0;} */

#citation .container {
    width: 100%;
}

#ParagraphCitation {
    margin: 25px;
    color: var(--bleuFonce);
}

.imageCitation{
    margin-top: 20%;
}

#citation a {
    color: var(--jaune);
}

#citation a:hover {
    color: var(--bleuFonce);
}