@import url(https://fonts.googleapis.com/css?family=Alex Brush);
@import url(https://fonts.googleapis.com/css?family=Fjalla One);
@import url(https://fonts.googleapis.com/css?family=Prata);


:root {
    --titre-font: Fjalla One;
    --paragraphe-font: Prata;
    --bleuFonce: #004440;
    --bleu: #1B7F7A;
    --jaune: #F8B202;
    --gris: #F2F2F2;
    --primarytitreSize: 32px;
    --secondarytitreSize: 26px;
    --paragrapheSize: 16px;
    --borderRadiusImage: 75px;
    --borderRadiusCadre: 15px;
}